.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* create two columns */
  justify-content: space-evenly;
  gap: 2rem; /* add some space between the grid items */
}

.post-list-item {
  text-align: center;
}

.post-list-item h2 {
  text-decoration: none;
  color: var(--color-heading);
}

.post-list-item p {
  text-decoration: none;
  color: var(--color-heading);
}

@media screen and (max-width: 1250px) {
  .post-list {
    grid-template-columns: repeat(1, 1fr); /* create one column */
  }
}
