
main{ 
  max-width: 700px;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 10fr;
}

.sidebar {
  display: block;
}

@media screen and (min-width : 900px) {
  .sidebar{
    grid-column: 1;
    display: block;
  }
}

.main {
  grid-column: 2;
}