.grid {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(3fr, max-content) minmax(min-content, max-content);
}

.item1 {
  background-color: lime;
  grid-column: 1;
}

.item2 {
  background-color: yellow;
  grid-column: 2;
}

